<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
  <div class="row row justify-content-center align-items-center mt-5">
    <div class="col-6">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">登入</h5>
          <form name="form1" onsubmit="sendForm(event)">
            <div class="mb-3">
              <label for="email" class="form-label">信箱 </label>
              <input type="email" class="form-control" id="email" name="email" required>
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">密碼 </label>
              <input type="password" class="form-control" id="password" name="password" required>
              <div class="form-text"></div>
            </div>
            
            <button type="submit" class="btn btn-primary">送出</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('parts/scripts') %>
<script>
  function sendForm(event){
    event.preventDefault();

    //TODO: 資料檢查
    const fd = new FormData(document.form1);
    fetch('',{    //('')空字串-> 代表路徑url與原本的路徑url相同
      method:'POST',
      body: fd
    })
      .then(r=>r.json())
      .then(data=>{
        console.log(data);
        if(data.success){
          alert('登入成功');
          location.href = '/';
        }else{
          alert('登入失敗');
        }
      });


  }


</script>
<%- include('parts/html-foot') %>
