:root{
  //文字大小
  --font-size-header: 48px;
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-h4: 16px;
  --font-size-h5: 14px;
  --font-size-p: 12px;
  --font-size-span: 12px;
  
  // 顏色設定
  --primary:#47BBE8;//主色
  --secondary:#FCF09A;//次色
  --light-blue:#DAF1FA;//淡藍
  --light-yellow:#FEFCEB;//淡黃
  --field-frame:#EDC975;//欄位外框
  --text-black:#515151;
  --text-white:#FFFFFF;
  --light-blue-2:#cde2ea;
  
  // 按鈕設定
  --button-radius-1:45px;
  --button-radius-2:5px;
  --button-padding-LR:5px;
  --button-padding-TB:10px;
  --font-size-button-lg: 32px;
  
}