.tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.tag {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 73px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #CFEDF9;
  border: 1px solid #ddd;
  margin-right: -5px;
  line-height: 30px;

  // &:first-of-type {
  //   background-color: #47BBE8;
  //   color: #fff;
  // }
  
  &.active {
    background-color: #47BBE8;
    color: #fff;
  }
  
  &:hover {
    background-color: #47BBE8;
  }
  
  // &:not(.active):first-of-type {
  //   background-color: #CFEDF9;
  //   color: #fff;
  // }
}
