* {
  // margin: 0;
  // box-sizing: border-box;
  // /* border: red 1px solid; */
  // font-size: 16px;
  // /* background-color: #47BBE8; */
  list-style: none;
  text-decoration: none;
}

.button__list {
  margin: 24px;

  .button {
    text-align: center;
    text-decoration: none;
    background-color: #fcf09a;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 60px;
    color: var(--text-black);
    font-weight: bold;
    border: none;

    &:hover {
      box-shadow: inset -3px -3.5px 3px var(--field-frame);
    }
  }
}

input {
  background: transparent;
  border: none;
  outline: none;
}

.header-search {
  display: flex;
  align-items: center;
  background-color: #fcf09a;
  padding: 0 10px;
  border-radius: 60px;

  //   margin-right: 20px;
  button {
    font-size: 14px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: #fcf09a;
  }
}