div.productPage {
  padding: 15px 0 25px 0;
  width: 95%;

  .swiper-Content {
    margin: auto;

    img {
      width: 100%;
    }
  }

  div.productContent {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 50px;
  }
}
